.footer {
	padding-top: 3.5rem;
	background-color: #d67c30;
	font-family: 'Montserrat';
}

.padding {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.border-footer {
	padding-left: 1rem;
	border-left: 3px solid black;
}

p {
	font-size: 1rem;
}

.media_icon {
	width: 3.5rem;
	height: 3.5rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

@media screen and (max-width: 576px) {
	.media_icon {
		width: 2.5rem;
		height: 2.5rem;
	}
}
