.item-menu {
	font-size: 1rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	font-family: 'Montserrat';
	color: #f8f9fa;
	transition: 0.2s linear;
}
.item-menu:hover {
	color: orange;
	font-size: 1.2rem;
}

.flexbox {
	display: flex;
	align-items: center;
}

.logo {
	height: 4rem;
	width: 6rem;
}

@media screen and (max-width: 900px) {
	.item-menu {
		font-size: 0.7rem;
		font-family: 'Montserrat';
		margin-left: 0 !important;
	}

	.item-menu:hover {
		font-size: 0.8rem;
	}

	.logo {
		height: 2.5rem;
		width: 3.5rem;
	}
}

@media screen and (max-width: 576px) {
	.item-menu {
		font-size: 0.75rem;
		font-family: 'Montserrat';
		margin-left: 0 !important;
		color: #f8f9fa;
		transition: 0.2s linear;
	}

	.item-menu:hover {
		color: orange;
		font-size: 0.9rem;
	}

	.logo {
		height: 2.5rem;
		width: 3.5rem;
	}
}
