.item-menu {
	display: inline-block;
}

.item-menu a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-family: 'Montserrat';
	font-weight: lighter;
	font-size: 1rem;
	padding: 0 20px;
}

.item-menu a:hover {
	text-decoration: none;
	color: #fff;
}

.cool-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #d67c30;
	transition: width .3s;
}

.cool-link:hover::after {
	width: 100%;
	transition: width .3s;
	text-decoration: none;
}

.flexbox {
	display: flex;
	align-items: center;
}

.logo {
	height: 4rem;
	width: 6rem;
}

@media screen and (max-width: 992px) {
	.item-menu {
		font-size: 0.7rem;
		font-family: 'Montserrat';
		margin-left: 0 !important;
	}

	.item-menu:hover {
		font-size: 0.8rem;
	}

	.logo {
		height: 2.5rem;
		width: 3.5rem;
	}
}

@media screen and (max-width: 768px) {
	.item-menu {
		font-size: 1rem;
		font-family: 'Montserrat';
		margin-left: 0 !important;
		text-align: right;
	}

	.item-menu:hover {
		font-size: 1.2rem;
	}

	.logo {
		height: 3.5rem;
		width: 4.5rem;
	}
}

@media screen and (max-width: 576px) {
	.item-menu {
		font-size: 0.75rem;
		font-family: 'Montserrat';
		margin-left: 0 !important;
		color: #f8f9fa;
		transition: 0.2s linear;
	}

	.item-menu:hover {
		color: orange;
		font-size: 0.9rem;
	}

	.logo {
		height: 2.5rem;
		width: 3.5rem;
	}
}
