.contenidor {
	width: 100%;
	height: 100vh;
	margin-right: auto;
	margin-left: auto;
}

.div-intro {
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 7.5rem;
	height: 100%;
}

.foto {
	background-image: url(/images/bg_2.jpg);
	background-size: cover;
}

.container-fluid {
	overflow: hidden;
}

.titol {
	font-family: 'Montserrat';
	font-size: 6rem !important;
	color: #f8f9fa;
}

.subtitol {
	font-family: 'Montserrat';
	font-size: 3rem !important;
	color: #f8f9fa;
}

.div-subtitol {
	padding-top: 2rem;
}

.div-inspira {
	padding-top: 4rem;
}

.div-buttons {
	padding-top: 3rem;
	padding-bottom: 10rem;
}

.btn {
	font-size: 1.5rem !important;
	width: 20rem !important;
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}

@media screen and (max-width: 768px) {
	.titol {
		font-family: 'Montserrat';
		font-size: 4rem !important;
		color: #f8f9fa;
	}

	.subtitol {
		font-family: 'Montserrat';
		font-size: 2rem !important;
		color: #f8f9fa;
	}

	.btn {
		font-size: 1.25rem !important;
		width: 20rem !important;
		margin-left: 1rem !important;
		margin-right: 1rem !important;
	}

	.div-intro {
		background-color: rgba(0, 0, 0, 0.8);
		padding-top: 12rem;
		height: 100%;
	}
}

@media screen and (max-width: 576px) {
	.titol {
		font-family: 'Montserrat';
		font-size: 2.5rem !important;
		color: #f8f9fa;
		text-align: center;
	}

	.subtitol {
		font-family: 'Montserrat';
		font-size: 1.5rem !important;
		color: #f8f9fa;
		text-align: center !important;
	}

	.div-intro {
		background-color: rgba(0, 0, 0, 0.8);
		padding-top: 12rem;
		height: 100%;
	}

	.div-subtitol {
		padding-top: 2rem;
	}

	.div-inspira {
		padding-top: 1.5rem;
	}

	.btn {
		font-size: 1rem !important;
		width: 10rem !important;
		margin-left: 1rem !important;
		margin-right: 1rem !important;
	}

	.div-buttons {
		padding-top: 3rem;
		padding-bottom: 5rem;
	}

	.foto {
		background-image: url(/images/bg_2.jpg);
		background-size: 85rem, 110rem;
	}
}

@media screen and (max-width: 320px) {
	.div-intro {
		background-color: rgba(0, 0, 0, 0.8);
		height: 100%;
		padding-top: 10rem;
	}

	.titol {
		font-family: 'Montserrat';
		font-size: 2rem !important;
		color: #f8f9fa;
		text-align: center !important;
	}

	.subtitol {
		font-family: 'Montserrat';
		font-size: 1rem !important;
		color: #f8f9fa;
		text-align: center !important;
	}

	.foto {
		background-image: url(/images/bg_2.jpg);
		background-size: 65rem, 90rem;
	}
}
