.foto_serveis {
	background-image: url(/images/bg_serveis.jpg);
	background-size: cover;
}

.titol_servei {
	font-size: 2rem;
	font-weight: bold;
}
.subtitol_servei {
	font-size: 1.25rem;
}

.img_servei {
	border: 2.5px solid black;
}

.border-left-servei {
	border-left: 7.5px solid white;
}

.border-right-servei {
	border-right: 7.5px solid white;
}

.fade-in {
	opacity: 0;
	transition: opacity 250ms ease-in;
}

.fade-in.appear {
	opacity: 1;
}
