.btn {
	border: 1px solid orange !important;
	font-family: 'Montserrat';
}
.card-deck .card {
	max-width: 450px !important;
}

$input-focus-border-color: orange;
$navbar-dark-hover-color: orange;

$card-bg: #212529;
$card-border-color: orange;
@import "../node_modules/bootstrap/scss/bootstrap";
